{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Title }} - {{ .Date.Format "Mon, Jan 2, 2006" }}</h1>
    </div>
    <p class="lead">{{ .Params.description }}</p>
    {{ .Content }}
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
</div>

<script src="https://giscus.app/client.js"
        data-repo="stuffbymax/wiki-blogs"
        data-repo-id="R_kgDON7mYJQ"
        data-category="General"
        data-category-id="DIC_kwDON7mYJc4CnJkb"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

{{ end }}
