<footer class="container">
    <hr class="soften">
    <p>
        {{- partial "copyright.html" . -}}
    </p>
    <p class="text-center">
        {{ with .Site.Params.mastodon }}<a rel="me" href="{{ . }}">Mastodon</a> | {{ end }}
        {{ with .Site.Params.github }}<a href="{{ . }}">GitHub</a> | {{ end }}
        {{ with .Site.Params.youtube }}<a href="{{ . }}">YouTube</a> | {{ end }}
	{{ with .Site.Params.kofi }}<a href="{{ . }}">Ko-fi</a> | {{ end }}
	{{ with .Site.Params.twitch }}<a href="{{ . }}">Twitch</a> | {{ end }}
	{{ with .Site.Params.rss }}<a href="{{ . }}">RSS</a> {{ end }}
    </p>
<a rel="me" href="https://silversword.online/@darth"></a>
<a rel="me" href="https://emacs.ch/@darth"></a>
<a rel="me" href="https://social.sdf.eu/@darth"></a>
<meta name="fediverse:creator" content="@darth@silversword.online" />
</footer>
